.subscribe-button {
    background-color: rgb(100, 2, 2);
    color: white;
    border: none;
  
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.1s;
   
    /* padding */
    padding-top: 9px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 16px;

    vertical-align: top;

                             

}
.subscribe-button:hover{

 /* Means pseudo-class:
 : hover--when we hover
 : active--when we click it */

 opacity: 0.7;
}
.subscribe-button:active{
 opacity: 0.5 ;           
}

.john-button{
    background-color: white;
    color: blue;
    border: rgb(29, 29, 238);
    border-style: solid;
    border-width: 1px;               
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    /* creating a  transition */
    transition: background-color 1s ,color 1s;


    /* margine==space of outside the button box
    padding==space of inside of the button from element and border */
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;                   

    
    
               }
.john-button:hover{
 background-color: rgb(29, 29, 238) ;
 color: white;
}
.john-button:active{
 opacity: 0.7;
}
.tweet-button{
    background-color: rgb(26, 131, 252);
    color: white;
    border: none;
   
    border-radius: 18px;

    /* to bold the font of the text */
    font-weight: bold; 
     
    /* the sixe of font */
    font-size: 15px;
   
    cursor: pointer;

    /* appying shadow  property */
    /* values are: horizontal position or(right position) of shadow ,vertical position of shadow , Bluer ,color  
    remenber :------rgba(red,green,blue ,opacity)*/

    padding-top: 9px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 16px;

    vertical-align: top;
                             

    
}
.tweet-button:hover{
 box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
 transition: box-shadow 0.15s;
 color: 0.15s;
}
.tweet-button:active{
 opacity: 0.7;
 
}



/* button :css selecter
background color=css property
red= css value */
